#actions *{
text-decoration: none;
list-style:none;
display: inline;
}

header {
	background-color:#FFB4B0;
	text-decoration:none;
	border: 2px solid black;
	font-size: 1.2em;
}

header{
	width: 75%;
	padding: 0px;
}

li{
	list-style: none;
	display: inline;
}

#left-side{
	background-color: #4DD7FA;
	border: 2px solid black;
}

#right-side{
	background-color: #FEFAC0;
	border: 2px solid black;
}

h2{
	color: #785616;
}

#song-length {

}


/*/////////ADDED IN MUSIC PLAYER 3/////////////////////*/
ul > li {
  display: inline;
  list-style-type: none;
  margin: 5px 15px 0 15px;
  background-color: goldenrod;
  padding: 5px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

body {
  font-size: 2em;
}
/*/////////ADDED IN MUSIC PLAYER 3/////////////////////*/
